In [ ]:
import math
print("sqrt(4.0)= ", math.sqrt(4.0))
print("exp(1.0)= ", math.exp(1))
print("log10(10)= ", math.log(10,10))
print("log(3.78)= ", math.log(math.e))

In [ ]:
print("sin(PI/2)= ", math.sin(math.pi))
print("degrees(1.57)= ", math.degrees(1.57))
print("radians(90)=" , math.radians(90))

In [16]:
import math

x1, y1, x2, y2, x3, y3 = eval(input("Enter six coordinates of three points seperated by comas like x1, y1, x2, y2, x3, y3= "))

a = math.sqrt((x2-x3)*(x2-x3)+(y2-y3)*(y2-y3))
b = math.sqrt((x1-x3)*(x1-x3)+(y1-y3)*(y1-y3))
c = math.sqrt((x1-x2)*(x1-x2)+(y1-y2)*(y1-y2))

A = math.degrees(math.acos((c*c+b*b-a*a)/(2*b*c)))
B = math.degrees(math.acos((math.pow(a,2)+math.pow(c,2)-math.pow(b,2))/(2*a*c)))
C = math.degrees(math.acos((math.pow(a,2)+math.pow(b,2)-math.pow(c,2))/(2*a*b)))

print("The three angles are ", (int) (A*100)/100.0, (int) (B*100)/100.0, (int) (C*100)/100.0)

Enter six coordinates of three points seperated by comas like x1, y1, x2, y2, x3, y3= 1,1,400,400,600,1
The three angles are  45.0 71.62 63.37

In [17]:
for i in range(3):
    print("Hello")

Hello
Hello
Hello

In [18]:
list(range(3))

[0, 1, 2]

In [19]:
for i in range(3):
    print("Hello", end= " ")

Hello Hello Hello

In [25]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [28]:
for i in range(3):
    number=int(input("A number= "))
    print("The square of the number= ", math.pow(number,2))

A number= 10
The square of the number=  100.0
A number= 20
The square of the number=  400.0
A number= 30
The square of the number=  900.0

In [29]:
list(range(3,15))

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [30]:
list(range(3,15,5))

[3, 8, 13]

In [35]:
for j in range(20, 40, 2):
    print(j, end= " ")

20 22 24 26 28 30 32 34 36 38

In [36]:
for j in range(40, 20, -2):
    print(j, end= " ")

40 38 36 34 32 30 28 26 24 22

In [38]:
total = 0
for grade in [50, 45, 58, 60, 89, 78, 90, 45, 100]:
    total = total + grade
    
average = total / 9.0

print("Average of the class is, ", (int)(average*100)/100.0)

Average of the class is,  68.33

In [40]:
for character in "Programming Languages Concepts":
    print(character, end="  ")

P  r  o  g  r  a  m  m  i  n  g     L  a  n  g  u  a  g  e  s     C  o  n  c  e  p  t  s

In [43]:
for i in range(3):
    print("?", end="")

???

In [44]:
print("?"*3)

???

In [46]:
print("Hello "*5)

Hello Hello Hello Hello Hello

In [48]:
for i in range(4):
    print("*"*(i+1))

*
**
***
****

In [54]:
number1 = 7
number2 = 5

print(type(f'{number1} times {number2} is {number1*number2}'))
my_f_string = f'{number1} times {number2} is {number1*number2}'
print(my_f_string)
print(f'{number1} times {number2} is {number1*number2}')

<class 'str'>
7 times 5 is 35
7 times 5 is 35

In [57]:
x = 10.2187
print(f'{x: .2f}')

 10.22

In [59]:
x = 10.2187
print(f'{x: 15.2f}')

          10.22

In [61]:
print(format(10.2187, ".2f"))

10.22

In [63]:
x = 10.2187
print('your number is = %.2f' % x)

your number is = 10.22

In [68]:
for number in range(1,11):
    if number == 5:
        continue
    print(number, end=" ")

1 2 3 4 6 7 8 9 10

In [69]:
for number in range(1,11):
    if number == 5:
        break
    print(number, end=" ")

1 2 3 4

In [73]:
age = 70
gender = "Female"

if gender=="Female" and age>=65:
    print("Hello")

Hello

In [76]:
age = 70
gender = "Female"

if gender=="Female" or age>=65:
    print("Hello")

Hello

In [77]:
grade = 70
if not grade == 1:
    print("Hello")

Hello

In [81]:
import statistics

grades = [10,20,30,30,30]

print(statistics.mean(grades))
print(statistics.median(grades))
print(statistics.mode(grades))

24
30
30

In [85]:
max(30,45,78,89,100)

100

In [84]:
min(30,45,78,89,100)

30

In [86]:
print(sorted([45,17,-2,-79]))

[-79, -2, 17, 45]

In [88]:
print(sorted([45,17,-2,-79], reverse = True))

[45, 17, -2, -79]

In [91]:
import math
print(math.pow(8,3))

512.0

In [93]:
from math import pow
print(pow(8,3))

512.0

In [111]:
num = int(input("Please enter a number:"))
if num > 1:
    for i in range(2, int(num/2)+1):
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

Please enter a number:13
13 is a prime number

In [1]:
i = 0
while i<10:
    print(i, end= " ")
    i = i + 1

0 1 2 3 4 5 6 7 8 9