In [25]:
day = 0

question1 = "Is your birthday in Set1?\n" + \
    " 1  3  5  7\n" + \
    " 9 11 13 16\n" + \
    "17 19 21 23\n" + \
    "25 27 29 31" + \
    "\Enter 0 for No and 1 for Yes: "

answer = eval(input(question1))
if answer==1:
    day = day + 1
        
question2 = "Is your birthday in Set2?\n" + \
    " 2  3  6  7\n" + \
    "10 11 14 15\n" + \
    "18 19 22 23\n" + \
    "26 27 30 31" + \
    "\Enter 0 for No and 1 for Yes: "  

answer = eval(input(question2))
if answer==1:
    day = day + 2
        
question3 = "Is your birthday in Set3?\n" + \
    " 4  5  6  7\n" + \
    "12 13 14 15\n" + \
    "20 21 22 23\n" + \
    "28 29 30 31" + \
    "\Enter 0 for No and 1 for Yes:" 

answer = eval(input(question3))
if answer==1:
    day = day + 4
        
question4 = "Is your birthday in Set4?\n" + \
    " 8  9 10 11\n" + \
    "12 13 14 15\n" + \
    "24 25 26 27\n" + \
    "28 29 30 31" + \
    "\Enter 0 for No and 1 for Yes: " 

answer = eval(input(question4))
if answer==1:
    day = day + 8
        
question5 = "Is your birthday in Set5?\n" + \
    "16 17 18 19\n" + \
    "20 21 22 23\n" + \
    "24 25 26 27\n" + \
    "28 29 30 31" + \
    "\Enter 0 for No and 1 for Yes: " 

answer = eval(input(question5))
if answer==1:
    day = day + 16
    
print("\nYour birthday is "+ str(day) + "!")

Is your birthday in Set1?
 1  3  5  7
 9 11 13 16
17 19 21 23
25 27 29 31\Enter 0 for No and 1 for Yes: 1
Is your birthday in Set2?
 2  3  6  7
10 11 14 15
18 19 22 23
26 27 30 31\Enter 0 for No and 1 for Yes: 0
Is your birthday in Set3?
 4  5  6  7
12 13 14 15
20 21 22 23
28 29 30 31\Enter 0 for No and 1 for Yes:0
Is your birthday in Set4?
 8  9 10 11
12 13 14 15
24 25 26 27
28 29 30 31\Enter 0 for No and 1 for Yes: 1
Is your birthday in Set5?
16 17 18 19
20 21 22 23
24 25 26 27
28 29 30 31\Enter 0 for No and 1 for Yes: 1

Your birthday is 25!

In [12]:
a = 7
b = 9
print(a,b)

a,b = b,a

print(a,b)

7 9
9 7

In [20]:
import random

number1 = random.randint(0,9)
number2 = random.randint(0,9)

print(number1, "-", number2, "=?" )

if number1 < number2:
    number1,number2 = number2,number1
    
answer = eval(input("What is number1 - number2 "))
              
if number1 - number2 == answer:
    print("Your answer is correct")
else:
    print("Your answer is wrong\n", number1, "-", number2, "is", number1-number2)

8 - 1 =?
What is number1 - number2 7
Your answer is correct

In [24]:
year = eval(input("Birth Year:"))

if year % 12 == 0:
    print("Monkey")
elif year % 12 == 1:
    print("Rooster")
elif year % 12 == 2:
    print("Dog")
elif year % 12 == 3:
    print("Pig")
elif year % 12 == 4:
    print("Rat")
elif year % 12 == 5:
    print("Ox")
elif year % 12 == 6:
    print("Tiger")
elif year % 12 == 7:
    print("Rabbit")
elif year % 12 == 8:
    print("Dragon")
elif year % 12 == 9:
    print("Snake")
elif year % 12 == 10:
    print("Horse")
else:
    print("Sheep")

Birth Year:2023
Rabbit

In [32]:
#lists in Python
c = [-45, 7, 0 ,72, 153]

print(c)

print(c[0], c[1], c[3], c[4])
print(c[-1], c[-2])

[-45, 7, 0, 72, 153]
-45 7 72 153
153 72

In [34]:
d = ["Aysun", 3.57, 12, -89]

print(d)
print("There are", len(d), " elements in the list d")

['Aysun', 3.57, 12, -89]
There are 4  elements in the list d

In [35]:
#lists are mutable objects: their elemnts can be modified

c[1]=17
print(c)

[-45, 17, 0, 72, 153]

In [37]:
#string are immutable

s = "hello"
print(s)
print(s[0], s[1], s[2], s[3], s[4])
print(len(s))

hello
h e l l o
5

In [42]:
list1 = [10, 20, 30]
list2 = [40, 50]

concataneted_list = list1 + list2
print(concataneted_list)

for i in range(len(concataneted_list)):
    print(f'{i}: {concataneted_list[i]}')

[10, 20, 30, 40, 50]
0: 10
1: 20
2: 30
3: 40
4: 50

In [41]:
list(range(8))
x= 5
print(type(F'{x} is my variable'))
print(F'{x} is my variable')

<class 'str'>
 5 is my variable

In [43]:
#Tuples 

example_int_tuple = (30,40,50)
example_mix_tuple = ("Aysun", 4.15, -2, 25)

print(example_int_tuple)
print(example_mix_tuple)

print(len(example_int_tuple))
print(len(example_mix_tuple))

print(example_mix_tuple[0], example_mix_tuple[1], example_mix_tuple[2], example_mix_tuple[3])

(30, 40, 50)
('Aysun', 4.15, -2, 25)
3
4
Aysun 4.15 -2 25

In [44]:
#Tuples are immutable

example_mix_tuple[0] = "Ayse"

TypeError: 'tuple' object does not support item assignment

In [45]:
time_tuple = (9,16,1)

time_tuple[0]*3600 + time_tuple[1] * 60 + time_tuple[2]

33361

In [46]:
tuple1 = (10,20,1)
tuple2 = (40,50)

tuple1 + tuple2

(10, 20, 1, 40, 50)

In [47]:
#Unpacking

student_tuple = ('Aysun', "Guran", [100,100,100])
name, surname, grades = student_tuple

print(name, surname, grades)

Aysun Guran [100, 100, 100]